@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HomeLand {
  background: linear-gradient(105.16deg, #5c2289 -7.2%, #8d278e 97.48%);
}

.Chate_btn {
  background: linear-gradient(
    97.45deg,
    rgba(50, 24, 69, 0.48) -21.31%,
    rgba(124, 59, 171, 0.48) 116.3%
  );

  border: 1px solid rgba(254, 254, 254, 1)
}

.counter h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}
